# 2. Series

In [1]:
import pandas as pd
import numpy as np

## 2-1. Series 생성하기
* Numpy에서 제공하는 1차원 배열과 유사
* 엑셀에서 한 컬럼
* Series = 1차원 배열의 값(value) + 행 인덱스(index)

In [2]:
# 1. value값만 주기
# index를 지정하지 않은 경우 0부터 시작하는 index가 자동으로 부여됨
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [4]:
s.shape

(4,)

In [5]:
#index 속성
s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
type(s.values)

numpy.ndarray

In [8]:
# dtype 지정하기
pd.Series([1,2,3,4], dtype = float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [9]:
pd.Series(np.array([1,2,3,4]))

0    1
1    2
2    3
3    4
dtype: int32

In [10]:
# 1~10까지 Series 만들기
pd.Series(range(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [12]:
# 2. value와 index 둘 다 주기
index = [1,2,3,4]
s = pd.Series([10,20,30,40],index=index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [13]:
# index에 문자열 주기 //딕셔너리와 비슷한데?
index = ['치킨','초밥','콜라','삼겹살']
s = pd.Series([16000,30000,2000,12000],index=index)
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [14]:
s.index

Index(['치킨', '초밥', '콜라', '삼겹살'], dtype='object')

In [15]:
s.values

array([16000, 30000,  2000, 12000], dtype=int64)

In [16]:
# 3. 딕셔너리로 만들기
s = pd.Series({'치킨':16000, '초밥':30000, '콜라':2000, '삼겹살':12000})
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [17]:
s.name = 'menu'
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [18]:
s.index.name = '메뉴명'
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

## 2-2. Series 인덱싱과 슬라이싱

In [19]:
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [20]:
# 0 인덱스
s[0]

16000

In [21]:
# 인덱스 라벨을 이용
s['치킨'],s.치킨

(16000, 16000)

In [22]:
s[-1], s['삼겹살'], s.삼겹살

(12000, 12000, 12000)

In [23]:
#index가 숫자인 경우
t = pd.Series([10,20,30,40],index=[1,2,3,4])
t

1    10
2    20
3    30
4    40
dtype: int64

In [24]:
t[1] #key가 우선순위

10

In [25]:
t[0], t[-1] #안 됨 #Series 인덱싱에서는 키로 생각하자

KeyError: 0

In [26]:
# Fancy 인덱싱
s[['치킨','콜라']]

메뉴명
치킨    16000
콜라     2000
Name: menu, dtype: int64

In [27]:
s[[0,2]]

메뉴명
치킨    16000
콜라     2000
Name: menu, dtype: int64

In [28]:
#Boolean 인덱싱
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [29]:
s <= 15000

메뉴명
치킨     False
초밥     False
콜라      True
삼겹살     True
Name: menu, dtype: bool

In [30]:
s[s<=15000]

메뉴명
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [31]:
(s>=15000) & (s<=30000)

메뉴명
치킨      True
초밥      True
콜라     False
삼겹살    False
Name: menu, dtype: bool

In [32]:
s[(s>=15000) & (s<=30000)]

메뉴명
치킨    16000
초밥    30000
Name: menu, dtype: int64

In [33]:
#슬라이딩 (start:end:step)
#0인덱싱 사용 슬라이싱 : end-1
s[1:3]

메뉴명
초밥    30000
콜라     2000
Name: menu, dtype: int64

In [34]:
#인덱스라벨 사용 슬라이싱 : end까지 
s['초밥':'삼겹살'] #end-1까지 아님 #end-1까지 아님 #end-1까지 아님 #end-1까지 아님 #end-1까지 아님

메뉴명
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [35]:
s['초밥':'콜라']

메뉴명
초밥    30000
콜라     2000
Name: menu, dtype: int64

## 2-3. Series 데이터 CRUD
Create, Retrieve, Update and Delete

In [36]:
# 앞에서부터 데이터 보기 (R)
s.head()

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [37]:
s.head(2)

메뉴명
치킨    16000
초밥    30000
Name: menu, dtype: int64

In [38]:
#뒤에서부터 데이터 보여주기 (R)
s.tail()

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [39]:
s.tail(3)

메뉴명
초밥     30000
콜라      2000
삼겹살    12000
Name: menu, dtype: int64

In [40]:
# 데이터 추가 (C)
# 피자 추가 (20000)
s['피자']=20000
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
Name: menu, dtype: int64

In [41]:
s['햄버거'] = np.nan #NaN과 똑같음
s

메뉴명
치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: menu, dtype: float64

In [42]:
# 비어있는 데이터 찾기
s.isnull()

메뉴명
치킨     False
초밥     False
콜라     False
삼겹살    False
피자     False
햄버거     True
Name: menu, dtype: bool

In [43]:
s[s.isnull()]

메뉴명
햄버거   NaN
Name: menu, dtype: float64

In [44]:
s. isna()

메뉴명
치킨     False
초밥     False
콜라     False
삼겹살    False
피자     False
햄버거     True
Name: menu, dtype: bool

In [45]:
#비어있지 않은 데이터 찾기
s.notnull()

메뉴명
치킨      True
초밥      True
콜라      True
삼겹살     True
피자      True
햄버거    False
Name: menu, dtype: bool

In [46]:
s.notna()

메뉴명
치킨      True
초밥      True
콜라      True
삼겹살     True
피자      True
햄버거    False
Name: menu, dtype: bool

In [47]:
s[s.notna()]

메뉴명
치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: menu, dtype: float64

In [48]:
# 데이터 변경하기
s['치킨']=20000
s

메뉴명
치킨     20000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: menu, dtype: float64

In [49]:
s[0]=18000
s

메뉴명
치킨     18000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: menu, dtype: float64

In [50]:
# 데이터 삭제하기
del s['햄버거']
s

메뉴명
치킨     18000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: menu, dtype: float64

In [51]:
s[0]=20000
s

메뉴명
치킨     20000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: menu, dtype: float64

## 2-4. Series 연산

In [52]:
# Series 간의 사칙연산
data = [20000,30000,2000,12000,20000]
index = ['치킨','초밥','콜라','삼겹살','피자'] 
s2 = pd.Series(index=index,data=data)
s2

치킨     20000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
dtype: int64

In [53]:
# 인덱스 라벨이 동일해야 함
s + s2 #인덱스가 다를 경우도 생각해보자

메뉴명
치킨     40000.0
초밥     60000.0
콜라      4000.0
삼겹살    24000.0
피자     40000.0
dtype: float64

In [54]:
s - s2

메뉴명
치킨     0.0
초밥     0.0
콜라     0.0
삼겹살    0.0
피자     0.0
dtype: float64

In [55]:
# Scalar 와의 연산 #broadcast
s = s + 1000
s

메뉴명
치킨     21000.0
초밥     31000.0
콜라      3000.0
삼겹살    13000.0
피자     21000.0
Name: menu, dtype: float64

In [56]:
# Aggregation 함수
s.max()

31000.0

In [57]:
s.min()

3000.0

In [58]:
s.sum()

89000.0

In [59]:
s.mean()

17800.0

In [60]:
s.median()

21000.0

In [61]:
s

메뉴명
치킨     21000.0
초밥     31000.0
콜라      3000.0
삼겹살    13000.0
피자     21000.0
Name: menu, dtype: float64